.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-container {
  display: flex;
  flex-basis: 49%;
  /* background-color: yellow; */
  /* background-color: #bebecb; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.book-cover {
  width: 25%;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-body {
  flex: 2;
}

.navigation {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation a {
  background-color: blue;
  /* width: ; */
}

/* @media screen and (max-width: 500px) {
  .container {
    padding: 0px 20px;
    background-color: red;
  }
} */
